@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer base {
    hr.rounded {
        border-top: 1px solid #989898;
        border-radius: 1px;
        opacity: 0.4;
    }

    .vertical-line {
        width: 1px;
        background: #989898;
        opacity: 0.5;
    }
}

@layer utilities {
    .fade-in {
        animation: fade-in 120ms linear 1 forwards;
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes gradient {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }

    .glow {
        @apply transition-colors duration-300 ease-in-out;
        background-color: transparent;
        box-shadow: 0 -8em 2000px 50px;
        color: transparent;
    }

    .fade-out {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 250ms, opacity 250ms linear;
    }

    .visible {
        visibility: visible;
        opacity: 1;
        transition: opacity 100ms linear;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #919191;
    border-radius: 0.5rem;
}

.rating {
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #ffffff;
}

.rating-border {
    position: relative;
    text-align: center;
    width: 110px;
    height: 110px;
    margin-left: 30%;
    border-radius: 100%;
    background: #E53B3B linear-gradient(270deg, black 50%, transparent 50%) linear-gradient(0deg, black 50%, lightgray 50%);
}

[data-tooltip] {
    position: relative;
    display: inline-block;
}
[data-tooltip]:after,
[data-tooltip]:before {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -5px);
    z-index: 1000;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
}
[data-tooltip]:before {
    content: attr(data-tooltip);
    font-weight: normal;
    font-size: 0.9rem;
    background: #444;
    color: #eee;
    padding: 4px 9px;
    white-space: nowrap;
    bottom: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.65);
}
[data-tooltip]:active:after,
[data-tooltip]:active:before,
[data-tooltip]:focus:after,
[data-tooltip]:focus:before,
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
    opacity: 1;
}
[data-tooltip].tooltip-multiline:before {
    width: 100vw;
    max-width: 240px;
    white-space: normal;
}
[data-tooltip][class*="tooltip-bottom"]:after,
[data-tooltip][class*="tooltip-bottom"]:before {
    transform: translate(-50%, 12px);
}
[data-tooltip][class*="tooltip-bottom"]:before {
    bottom: auto;
    top: 100%;
}
[data-tooltip][class*="tooltip-bottom"]:after {
    bottom: 0;
    border: 8px solid transparent;
    border-bottom-color: #444;
}
[data-tooltip].tooltip-bottom-left:before {
    transform: translate(-24px, 12px);
}
[data-tooltip].tooltip-bottom-right:before {
    left: auto;
    right: 50%;
    transform: translate(24px, 12px);
}
[data-tooltip].tooltip-top-left:before {
    transform: translate(-24px, -12px);
}
[data-tooltip].tooltip-top-right:before {
    left: auto;
    right: 50%;
    transform: translate(24px, -12px);
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.vignette {
    content: "";
    height: 25%;
    background: linear-gradient(to top, #181818, transparent);
}
.marquee {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.marquee-content {
    display: flex;
    animation: marquee linear infinite running;
}
.marquee-content:hover {
    animation-play-state: paused;
}
.marquee-tag {
    margin: 0 0.5em;
    padding: 0.5em;
    background: rgba(255,255,255,0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
.marquee-tag:hover {
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}
@-moz-keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translate(-100%);
    }
}
@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translate(-100%);
    }
}
@-o-keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translate(-100%);
    }
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translate(-100%);
    }
}
