.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 2;
}

.circle {
    stroke-width: 2.6;
    stroke-linecap: round;
    animation: progress 1.5s ease-in-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.percentage {
    font-size: 0.7em;
    text-anchor: middle;
}
